.gris {
  color: grey;
}

.amarillo {
  color: #6d6aee;
}

.estrellas {
  display: flex;
  font-size: 26px;
  margin-block: 2rem;
}

.boton {
  margin-block: 2rem;
}

.reseña {
  font-size: 26px;
  font-weight: 600;
  color: #6d6aee;
  margin-top: 2rem;
}
