.main {
  background: white;
  height: calc(130vh - 149px);
}

.landingLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 400px;
  width: 50%;
}
.landingRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 250px;
  width: 50%;

}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e8e8e8;
  padding-top: 5px;
  padding-bottom: 10px;
  border-radius: 10px;
}


.carga {
  background: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#vid {
  height: 250px;
}


.contenedorGeneral {
margin-top: 200px; 
height: calc(100vh - 149px);
}

.contenedorFormulario {
  display: flex;
  background-color: #fafafa;
  width: 1400px;
  border-radius: 25px;
  height: 600px;
  padding-inline: 5rem;
  align-items: center;
  gap: 2rem;
}