.card {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 283px;
  height: 286px;
  border-radius: 34px 34px 10px 10px;
  padding: 1rem;
}

.contCard:hover {
  transform: scale(1.03);
}

.card h3 {
  font-weight: 700;
  font-size: 18px;
}

.card h2 {
  font-weight: 600;
}

.card img {
  object-fit: cover;
  width: 238px;
  height: 129px;
  border-radius: 34px;
}

.imgcard {
  width: 238px;
  height: 129px;
  border-radius: 34px;
}

.contCard {
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  justify-content: center;
  width: 16rem;
  justify-content: space-evenly;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
  min-width: 250px;
  margin: 0.5rem;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.contCard .img {
  max-width: 50%;
}

.corazones {
  position: absolute;
  height: 30px;
  right: 13px;
  bottom: 15px;
}
