.cardscontainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 1200px;
  gap: 2rem;
  margin: 4rem auto;
  object-fit: cover;
}

.card {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 283px;
  height: 340px;
  border-radius: 34px 34px 10px 10px;
  padding: 1rem;
  position: relative;
  box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
  background-color: #fff;
}

.card h3 {
  font-weight: 700;
  font-size: 18px;
}

.imgcard {
  border-radius: 34px;
  overflow: hidden;
  margin-bottom: 10px;
  height: 8rem;
}

.imgcard img {
  width: 255px;
  height: 129px;
  object-fit: cover;
}

.corazones {
  position: absolute;
  height: 30px;
  right: 20px;
  bottom: 70px;
}
.card h2 {
  font-weight: 600;
}
