.coursescontainer {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 6rem auto;
  min-height: calc(150vh - 149px);
}

.filterscontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70%;
  margin: auto;
}

#toast {
  height: 1rem;
  width: 16rem;
  margin: 5px 0 0 1rem;
}
