.contenedorGeneral {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 81px;
  height: calc(100vh - 149px);
}

.contenedorFormulario {
  background-color: #fafafa;
  width: 70%;
  max-width: 1000px;
  border-radius: 25px;
  height: fit-content;
}

.formulario {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-weight: 200;
  font-size: 15px;
  gap: 1.5rem;
}

.izq,
.der {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  padding: 1rem;
}

.mitadInputs {
  width: 50%;
}

.categoriasJuntas {
  display: flex;
  width: 100%;
  gap: 1.3rem;
  position: relative;
}

.text {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  padding: 1rem;
  color: #6d6aee;
}

.buttonSubmit {
  margin-bottom: 2rem;
}

/* .tag {
  position: absolute;
  top: 5rem;
} */

.cate {
  width: 100%;
}

.desc {
  padding-bottom: 1rem;
}

.contenedorupload {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0rem auto;
  text-align: center;
  justify-content: space-evenly;
  grid-column: 1/3;
}

.dropzone {
  text-align: center;
  padding: 2rem;
  border: 3px dashed #eeeeee;
  border-color: #d0c5c5;
  color: #bababa;
  margin-bottom: 2rem;
}

.videos {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}
